body {
    margin: 40px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Lucida Sans';
    padding: 0px;
    list-style: none;
    font-weight: regular;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #00cc99;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3.5em;
    font-family:'Lucida Sans';
}
p {
    font-size: 1.7em;
    line-height: 1.8em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 2.0em;
}

ul.posts li {
    list-style: none;
}

@font-face {
    font-family: Lucida Sans;
    src: url("../../fearlessroad.github.io/fonts/Lucida Sans Regular.ttf") format('truetype');
    font-weight: regular;
    font-style: normal;
}
