canvas {
    width:100%;
}
body {
    margin: 40px auto;
    width: 100%;
}
    .container {
      display: flex;
      max-width: 960px;
      margin: 0 auto;
    }
    .sidebar {
      flex-basis: 35%;
      background-color: #ffffff;
      padding: 20px;
      font-size:1em;
      font-family:'Lucida Sans';
      position:sticky;
      top:0;
      left:0;
    }
    .content {
      flex-basis:100%;
      background-color: #ffffff;
      padding: 20px;
      justify-content: flex-start;
    }
    .headshot {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      margin-bottom: 10px;
    }
nav ul, footer ul {
    font-family:'Lucida Sans';
    padding: 0px;
    list-style: none;
    font-weight: regular;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #00cc99;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Lucida Sans';
    line-height:1em;
    margin-bottom:0;
}
h2{
    font-size:1.2em;
    font-family:'Lucida Sans';
    line-height:1em;
    margin-top:0.1;
    margin-bottom:0.1;
}
p {
    font-family:'Lucida Sans';
    font-size: 1em;
    line-height: 1.1em;
    color: #333;
    padding:0.2em;
    margin-bottom:0em;
    margin-top:0em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.0em;
}

ul.posts li {
    list-style: none;
}

@font-face {
    font-family: "Lucida Sans";
    src: url("../fonts/Lucida-Sans.ttf") format('truetype');
    font-weight: regular;
    font-style: normal;
}
